# Dependències normals
-r stdrequirements.txt
# Només Heroku
cffi
psycopg2

# Dependències opcionals
## Compresió Brotli, més eficient que GZip, suportada pels navegadors més utilitzats
## (Només funciona amb HTTPS)
brotlipy
