bleach>=1.4.3
Django==1.10
django-bootstrap3>=7.0.1
django-htmlmin>=0.9.1
dj-database-url>=0.4.1
docutils>=0.12
gunicorn>=19.6.0
html5lib==0.9999999
Markdown>=2.6.6
WeasyPrint>=0.30
whitenoise>=3.2.1
