{% extends "base.html" %}
{% load urllink %}
{% load static %}
{% load bootstrap3 %}
{% block title %}Entrar :: AMPA IES Forat Del Vent{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'scss/login.css' %}"/>
{% endblock styles %}

{% block body %}

{% if next %}
{% if user.is_authenticated %}
<p>No pots entrar en aquesta pàgina!</p>
{% else %}
<p>No has entrat al lloc.</p>
{% endif %}
{% endif %}

<div class="login">
  <h1>Entrar</h1>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='Entrar' %}{% endbuttons %}
  </form>
  <p>Tens un codi? {% urllink "Registra't" 'register' %}</p>
  <p>Has perdut la contrasenya? {% urllink "Recupera-la" 'password_reset' %}</p>
</div>
{% endblock body %}
