{% extends "menu.html" %}
{% load bootstrap3 %}

{% block content %}
{% if validlink %}
<h1>Escollir contrasenya</h1>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons submit='Canviar contrasenya' %}{% endbuttons %}
</form>
{% else %}
<h1>Enllaç invàlid</h1>
<p>Aquest enllaç de restabliment és invàlid o ja s'ha utilitzat</p>
<div>
  <a class="btn btn-primary" href="{% url 'password_reset' %}">Demanar nou enllaç</a>
  <a class="btn btn-link" href="{% url 'index' %}">Tornar a l'inici</a>
</div>
{% endif %}
{% endblock content %}
