{% extends "base.html" %}
{% load static_dbg %}
{% load bootstrap3 %}
{% block title %}Registrar-se :: AMPA IES Forat Del Vent{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static_dbg 'usermanager/login.css' %}" />
{% endblock styles %}

{% block body %}
<div class="register">
  <h1>Registrar-se</h1>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit="Registrar-se" %}
    <a class="btn btn-link" href="{% url 'login' %}">Tornar</a>
    {% endbuttons %}
  </form>
</div>
{% endblock body %}
