// Colors
$grey: #808080;
$lightgrey: #D3D3D3;
$lightblue: #ADD8E6;
$white: #FFFFFF;

body {
  padding-top: 70px; /* La barra és de 50px */
}

table.table > tbody {
  th, td {
    vertical-align: middle;
  }
}

table.table.text-center {
  th, td {
    text-align: center;
  }
}

.username {
  font-family: monospace;
}

.secret,.self-record {
  background-color: $lightgrey;
}

table.table-hover tr:hover {
  .secret, .self-record {
    background-color: $grey;
    a {
      color: $lightblue;
    }
  }
  .secret.data {
    color: $white;
  }
}
