@import "config";

$usercolor: #d8edf3;
$selfcolor: #d2f9d2;
$answercolor: #f2f2f2;

tr td span.no-llegit {
  visibility: hidden;
}

tr.no-llegit {
  td {
    font-weight: bold;

    span.no-llegit {
      visibility: visible;
      color: $deepskyblue;
    }
  }
}

.msg-self {
  background-color: $selfcolor;
}

.msg-user {
  background-color: $usercolor;
}

.msg-answer {
  background-color: $answercolor;
}
