{% load static_dbg %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {# {% bootstrap_messages %} Actualment no utilitzat #}
  <link rel="stylesheet" href="{% static_dbg 'base.css' %}" />
  {% endblock %}
  {% block headscripts %}
  {% endblock %}
  {% block styles %}
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
  {% block scripts %}
  {% endblock %}
</body>
</html>
