{% load static %}

<!DOCTYPE html>
<html>
<head>
  {% comment %}
  {% block basestyle %}
  <style>
  head, body {
    height: 95vh;
    width: 95vw;
  }

  .username {
    font-family: monospace;
  }

  .secret, .self_record {
    background-color: lightgrey;
  }
  </style>
  {% endblock basestyle %}
  {% endcomment %}
  {% block head %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</head>
