{% extends "base.html" %}

{% block title %}AMPA IES Forat Del Vent{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
{% endblock styles %}

{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#main-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">AMPA Forat del Vent</span>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      {% if admin %}
      {% include "ampadb/admin_menu.html" %}
      {% elif anonymous %}
      {% include "ampadb/anonymous_menu.html" %}
      {% else %}
      {% include "ampadb/user_menu.html" %}
      {% endif %}
    </div>
  </div>
</nav>

{% block content %}{% endblock %}

<hr />

<footer id="menu_footer" style="position: relative; bottom: 0; height: 40px">
  {% block footer %}
  <p>&copy; 2016 AMPA IES Forat Del Vent</p>
  <p>Ets programador web? Saps Python / Django? Ajuda'ns a
    <a href="https://github.com/ampafdv/ampadb">
      <i class="fa fa-github"></i> Github</a></p>
  {% endblock footer %}
</footer>
{% endblock body %}
