{% extends "base.html" %}

{% block title %}AMPA IES Forat Del Vent{% endblock %}

{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
      data-target="#main-navbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand">AMPA Forat del Vent</span>
  </div>

  <div class="collapse navbar-collapse" id="main-navbar">
    {% if admin %}
    {% include "ampadb/admin_menu.html" %}
    {% else %}
    {% include "ampadb/user_menu.html" %}
    {% endif %}
  </div>
</nav>
{% block content %}{% endblock %}
{% endblock body %}
