{% extends "menu.html" %}
{% load userdata %}
{% load pytr %}
{% load urllink %}

{% block content %}
<h1>Llista de contactes de {{ classe }}</h1>
{% if admin %}
<div>
  <a class="btn btn-primary" href="{% url 'contactboard:add-alumne' classe.id_interna %}">
    Nou alumne
  </a>
  <a class="btn btn-default" href="{% url 'importexport:export' classe.id_interna %}">
    Exportar
  </a>
  <a class="btn btn-default" href="{% url 'contactboard:mailto' classe.id_interna %}">
    Enviar correu massiu
  </a>
<p style="color:grey;float:right">En gris si no han compartit les dades</p>
{% else %}
<p style="color:grey">
  Només es mostren les dades d'aquells que han decidit compartir-les
</p>
{% endif %}
<div class="table-responsive"><table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Nom</th>
      <th>E-mail pare</th>
      <th>E-mail mare</th>
      <th>Telf. pare</th>
      <th>Telf. mare</th>
      {% if admin %}
      <th>Usuari</th>
      <th>Eliminar</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% get_alumne user as me %}
    {% for a in alumnes %}
    {% if a.compartir or admin %}
    {% if not a.compartir %}
    <tr class="secret">
    {% elif a == me %}
    <tr class="self_record">
    {% else %}
    <tr>
    {% endif %}
      <td>
        {% if admin %}
        {% urllink a 'contactboard:edit-alumne' a.pk %}
        {% else %}
        {{ a }}
        {% endif %}
      </td>
      <td>{{ a.correu_pare|urlize }}</td>
      <td>{{ a.correu_mare|urlize }}</td>
      <td class="data">{{ a.telefon_pare }}</td>
      <td class="data">{{ a.telefon_mare }}</td>
      {% if admin %}
      {% get_user a.pk as user %}
      <td class="data">
        {% if user %}
        {{ user }}
        {% else %}
        {% urllink 'Crear' 'usermanager:new-user' a.pk %}
        {% endif %}
      </td>
      <td>
        {% urllink 'Eliminar' 'contactboard:delete-alumne' a.pk %}
      </td>
      {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
