{% extends "menu.html" %}
{% load userdata %}
{% load pytr %}
{% load urllink %}
{% load static_dbg %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static_dbg 'contactboard/contactboard.css' %}" />
{% endblock styles %}

{% block content %}
<h1>Llista de contactes de {{ classe }}</h1>
{% if admin %}
<div>
  <a class="btn btn-primary" href="{% url 'contactboard:add-alumne' classe.id_interna %}">
    Nou alumne
  </a>
  <a class="btn btn-default" href="{% url 'importexport:export' classe.id_interna %}">
    Exportar
  </a>
  <a class="btn btn-default" href="{% url 'contactboard:mailto' classe.id_interna %}">
    Enviar correu massiu
  </a>
<p style="color:grey;float:right">En gris si no han compartit les dades</p>
{% else %}
<p style="color:grey">
  Només es mostren les dades d'aquells que han decidit compartir-les
</p>
{% endif %}
<div class="table-responsive"><table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Nom</th>
      <th>E-mail alumne</th>
      <th>E-mail tutor 1</th>
      <th>E-mail tutor 2</th>
      <th>Tèlf. alumne</th>
      <th>Tèlf. tutor 1</th>
      <th>Tèlf. tutor 2</th>
      {% if admin %}
      <th>Usuari</th>
      <th>Eliminar</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% get_alumne user as me %}
    {% for a in alumnes %}
    {% if a == me %}
    <tr class="self-record">
    {% else %}
    <tr>
    {% endif %}
      {% if admin or a == me %}
      <td><a href="{{ a.get_absolute_url }}">{{ a.nom }} {{ a.cognoms }}</a></td>
      {% else %}
      <td>{{ a.nom }} {{ a.cognoms }}</td>
      {% endif %}

      {% if a.compartir_correu_alumne %}
      <td>{{ a.correu_alumne|urlize }}</td>
      {% elif a == me and a.correu_alumne %}
      <td class="privat">*PRIVAT*</td>
      {% elif admin %}
      <td class="secret">{{ a.correu_alumne|urlize }}</td>
      {% else %}
      <td></td>
      {% endif %}

      {% if a.compartir_correu_tutor_1 %}
      <td>{{ a.correu_tutor_1|urlize }}</td>
      {% elif a == me and a.correu_tutor_1 %}
      <td class="privat">*PRIVAT*</td>
      {% elif admin %}
      <td class="secret">{{ a.correu_tutor_1|urlize }}</td>
      {% else %}
      <td></td>
      {% endif %}

      {% if a.compartir_correu_tutor_2 %}
      <td>{{ a.correu_tutor_2|urlize }}</td>
      {% elif a == me and a.correu_tutor_2 %}
      <td class="privat">*PRIVAT*</td>
      {% elif admin %}
      <td class="secret">{{ a.correu_tutor_2|urlize }}</td>
      {% else %}
      <td></td>
      {% endif %}

      {% if a.compartir_telefon_alumne %}
      <td class="data">{{ a.telefon_alumne }}</td>
      {% elif a == me and a.telefon_alumne %}
      <td class="privat">*PRIVAT*</td>
      {% elif admin %}
      <td class="secret data">{{ a.telefon_alumne }}</td>
      {% else %}
      <td></td>
      {% endif %}

      {% if a.compartir_telefon_tutor_1 %}
      <td class="data">{{ a.telefon_tutor_1 }}</td>
      {% elif a == me and a.telefon_tutor_1 %}
      <td class="privat">*PRIVAT*</td>
      {% elif admin %}
      <td class="secret data">{{ a.telefon_tutor_1 }}</td>
      {% else %}
      <td></td>
      {% endif %}

      {% if a.compartir_telefon_tutor_2 %}
      <td class="data">{{ a.telefon_tutor_2 }}</td>
      {% elif a == me and a.telefon_tutor_2 %}
      <td class="privat">*PRIVAT*</td>
      {% elif admin %}
      <td class="secret data">{{ a.telefon_tutor_2 }}</td>
      {% else %}
      <td></td>
      {% endif %}

      {% if admin %}
      {% get_user a.pk as user %}
      <td class="data">
        {% if user %}
        <span class="username">{{ user }}</span>
        {% else %}
        <a class="btn btn-link" href="{% url 'usermanager:new-user' a.pk %}">
          Crear
        </a>
        {% endif %}
      </td>
      <td>
        <a class="btn btn-danger"
          href="{% url 'contactboard:delete-alumne' a.pk %}">Eliminar</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table></div>

  </tbody>
</table>
{% endblock content %}
