{% load urllink %}

<ul class="nav navbar-nav navbar-left">
  <li>{% urllink '<strong>Administració de DB</strong>' 'admin:index' %}</li>
  <li>{% urllink 'Cursos i classes' 'contactboard:adminlist' %}</li>
  <li>{% urllink 'Usuaris' 'usermanager:list' %}</li>
  <li>{% urllink 'Activitats extraescolars' 'extraescolars:list' %}</li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <span class="username">{{ user }}</span> <strong> [admin]</strong>
        <span class="caret"/>
    </a>
    <ul class="dropdown-menu">
      <li>{% urllink 'Canviar contrasenya' 'password_change' %}</li>
      <li role="separator" class="divider"/>
      <li>{% urllink 'Sortir' 'logout' %}</li>
    </ul>
  </li>
</ul>
