{% load urllink %}
{% load userdata %}

{% get_alumne user as alumne %}
<ul class="nav navbar-nav navbar-left">
  <li>
    {% urllink 'Veure classe' 'contactboard:list' alumne.classe.id_interna %}
  </li>
  <li>{% urllink 'Les meves dades' 'contactboard:edit-alumne' alumne.pk %}</li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <span>{{ alumne }} </span>(<span class="username">{{ user }}</span>)
        <span class="caret"/>
    </a>
    <ul class="dropdown-menu">
      <li>{% urllink 'Canviar contrasenya' 'password_change' %}</li>
      <li role="separator" class="divider"/>
      <li>{% urllink 'Sortir' 'logout' %}</li>
    </ul>
  </li>
</ul>
