{% extends "menu.html" %}
{% load static_dbg %}

{% block content %}
<h1>Resum dels canvis</h1>
<p>Si cliques "Confirmar", es faran aquests canvis:</p>

{% if changes.add %}
<h2>Afegir alumnes</h2>
{% with addn=changes.add|length %}
{% if addn == 1 %}
<p>S'afegirà un alumne.</p>
{% else %}
<p>S'afegiràn {{ addn }} alumnes.</p>
{% endif %}
{% endwith %}
<button class="btn btn-link" id="view_add">{# Emplenat per l'script #}</button>
<ul id="list_add">
  {% for a in changes.add %}
  <li>{{ a.dada_relacionada.nom }} {{ a.dada_relacionada.cognoms }} &rArr;
    <a href="{{ a.nova_classe.get_absolute_url }}">{{ a.nova_classe }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if changes.move %}
<h2>Moure alumnes</h2>
{% with moven=changes.move|length %}
{% if moven == 1 %}
<p>Un alumne es mourà de classe.</p>
{% else %}
<p>{{ moven }} alumnes es canviaràn de classe.</p>
{% endif %}
{% endwith %}
<button class="btn btn-link" id="view_move">{# Emplenat per l'script #}</button>
<ul id="list_move">
  {% for m in changes.move %}
  <li><a href="{{ m.alumne.get_absolute_url }}">{{ m.alumne }}</a> &rArr;
    <a href="{{ m.alumne.classe.get_absolute_url }}">{{ m.alumne.classe }}</a>
    &rarr; <a href="{{ m.nova_classe.get_absolute_url }}">{{ m.nova_classe }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if changes.delete %}
<h2>Eliminar alumnes</h2>
{% with deln=changes.delete|length %}
{% if deln == 1 %}
<p>S'eliminarà un alumne.</p>
{% else %}
<p>S'eliminaràn {{ deln }} alumnes.</p>
{% endif %}
{% endwith %}
<button class="btn btn-link" id="view_delete">{# Emplenat per l'script #}</button>
<ul id="list_delete">
  {% for d in chg.delete %}
  <li><a href="{{ d.alumne.get_absolute_url }}">{{ d.alumne }}</a> &#8275;
    <a href="{{ d.alumne.classe.get_absolute_url }}">{{ d.alumne.classe }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if changes.delete_classes %}
<h2>Eliminar classes</h2>
{% with dclassen=changes.delete_classes|length %}
{% if dclassen == 1 %}
<p>S'eliminarà una classe ara buida.</p>
{% else %}
<p>S'eliminaràn {{ dclassen }} classes ara buides.</p>
{% endif %}
{% endwith %}
<button class="btn btn-link" id="view_delclasse">{# Emplenat per l'script #}</button>
<ul id="list_delclasse">
  {% for dc in chg.delete_classes %}
  <li><a href="{{ dc.get_abslute_url }}">{{ dc.classe }}</a></li>
  {% endfor %}
</ul>
{% endif %}
<hr />
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Confirmar</button>
    <a class="btn btn-link" href="{% url 'importexport:ies:classnames' imp.pk %}">
      Cancel·lar</a>
  </div>
</form>
{% endblock content %}

{% block scripts %}
<script>
// Nombre d'operacions
var opn = {
  "add": {{ chg.add|length }},
  "move": {{chg.move|length }},
  "delete": {{ chg.delete|length }},
  "delclasse": {{ chg.delete_classe|length }}
};

var textMes = "Més";
var textMenys = "Menys";
</script>
<script src="{% static_dbg 'importexport/confirm.js' %}"></script>
{% endblock scripts %}
