{% extends "menu.html" %}
{% load urllink %}
{% load bootstrap3 %}
{% load static_dbg %}

{% block styles %}
{{ block.super }}
<style>
  #contrasenya, label[for="contrasenya"] {
    display: none;
  }
  
  #repeteix_la_contrasenya,
  label[for="repeteix_la_contrasenya"] {
    display: none;
  }
</style>
{% endblock styles %}

{% block content %}
<h1>Exportar</h1>
<p>Es poden exportar les dades als següents formats:</p>
{% include "./taula_formats.html" %}
<p><strong>Exportant {{ classe|default_if_none:"TOT"}}</strong></p>
{% if error_text %}
<div class="alert-danger">
  <ul class="errorlist">
    <li>{{ error_text }}</li>
  </ul>
</div>
{% endif %}
<form method="post" action="{% url 'importexport:genexport' %}"
  id="export-form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons submit='Exportar' %}{% endbuttons %}
</form>
<p class="alert alert-info">
  Segons la quantitat de dades a exportar i el format escollit, la operació
  <strong>pot trigar una estona.</strong></p>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static_dbg 'importexport/export.js' %}"></script>
{% endblock scripts %}