{% extends "menu.html" %}
{% load urllink %}
{% load bootstrap3 %}
{% load static_dbg %}

{% block content %}
<h1>Importar</h1>
{% if error_text %}
<div class="alert-danger">
  <h3>Errors:</h3>
  <ul class="errorlist">
    <li>{{ error_text }}</li>
  </ul>
</div>
{% endif %}

Es poden importar les dades als formats:
{% include "./taula_formats.html" %}
<p class="alert alert-danger">
  <strong>ATENCIÓ:</strong> és perillós importar arxius de fonts desconegudes,
  ja que poden modificar les dades (fins i tot usuaris). Si s'importa un arxiu
  de Pickle, a més a més, aquest pot executar codi arbitrari al servidor.</p>

<form enctype="multipart/form-data" method="post"
  action="{% url 'importexport:processimport' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons submit='Importar' %}{% endbuttons %}
</form>
<p class="alert alert-info">
  Segons la quantitat de dades a importar i el format escollit, la operació
  <strong>pot trigar una estona.</strong></p>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>
  var extensions = {{ extensions|safe }};
</script>
<script src="{% static_dbg 'importexport/import.js' %}"></script>
{% endblock scripts %}