<!DOCTYPE html>
<!-- HTML per a generació de PDF -->
<html>
<head>
  <meta charset="utf-8">
  <style>
  table.activitats {
    width: 100%;
  }
  table.activitats, table.activitats th, table.activitats td {
    border: 1px solid black;
  }
  </style>
</head>
<body>
  <h1>Fitxa d'inscripció a les activitats extraescolars</h1>
  <h2>Dades personals</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Nom</th>
        <th>Correu electrònic</th>
        <th>Telèfon</th>
        <th>DNI*</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Alumne</td>
        <td>{{ alumne.nom }} {{ alumne.cognoms }}</td>
        <td>{{ alumne.correu_alumne }}</td>
        <td>{{ alumne.telefon_alumne }}</td>
        <td>TS: {{ dades.catsalut }}</td>
      </tr>
      <tr>
        <td>Pare</td>
        <td>{{ alumne.nom_pare }} {{ alumne.cognoms_pare }}</td>
        <td>{{ alumne.correu_pare }}</td>
        <td>{{ alumne.telefon_pare }}</td>
        <td>{{ dades.dni_pare }}</td>
      </tr>
      <tr>
        <td>Mare</td>
        <td>{{ alumne.nom_mare }} {{ alumne.cognoms_mare }}</td>
        <td>{{ alumne.correu_mare }}</td>
        <td>{{ alumne.telefon_mare }}</td>
        <td>{{ dades.dni_mare}}</td>
      </tr>
    </tbody>
  </table>
  <p>* En el cas de l'alumne, el número de la targeta sanitària</p>
  {% if dades.iban %}
  <p><strong>IBAN: </strong>{{ dades.iban }}</p>
  <p><strong>NIF titular: </strong>{{ dades.nif_titular }}</p>
  {% endif %}
  <h2>Activitats extraescolars</h2>
  <p>Curs de l'alumne: {{ alumne.classe.curs }}</p>
  {% if not dades.drets_imatge %}
  <p>Drets d'imatge: Sí</p>
  {% else %}
  <p>Drets d'imatge: No</p>
  {% endif %}
  <table class="activitats">
    <thead>
      <tr>
        <th>Activitat</th>
        <th>Preu</th>
        <th>Pagat</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      {% for ins in inscripcions %}
      <tr>
        <td>{{ ins.activitat.nom }}</td>
        {% if ins.activitat.preu %}
        <td>{{ ins.activitat.preu }} €</td>
        {% if ins.pagat %}
        <td style="color:green">Sí</td>
        {% else %}
        <td style="color:red">No</td>
        {% endif %}
        {% else %}
        <td>Gratuït</td>
        <td>-</td>
        {% endif %}
        <td><code>{{ ins.pk }}</code></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if dades.observacions %}
  <h3>Observacions</h3>
  {{ dades.observacions }}
  {% endif %}
</body>
</html>
