@import 'config';

body {
  padding-top: 70px;

  // La barra és de 50px
}

#menu_footer {
  bottom: 0;
  height: 40px;
  position: relative;
}

table {
  &.table {
    th,
    td {
      vertical-align: middle;
    }

    &.text-center {
      th,
      td {
        text-align: center;
      }
    }
  }
}

.username {
  font-family: monospace;
}

.required {
  & > label {
    &.control-label {
      &::after {
        color: $vermellclar;
        content: '*';
      }
    }
  }
}
