{% extends "pdf.html" %}


{% block styles %}
{{ block.super }}
<style>
  table {
    width: 100%;
    border: 1px solid black;
  }
  table td {
    text-align: left;
    border-top : 1px solid #ddd;
  }
</style>
{% endblock styles %}

{% block content %}
{% for c in classes %}
<div class="classe">
  <h1>{{ c.0 }}</h1>
  <table>
    <thead>
      <tr>
        <th>Alumne</th>
        <th>Usuari</th>
        <th>Codi</th>
      </tr>
    </thead>
    <tbody>
      {% for a in c.1 %}
      <tr>
        <td>{{ a.profile.alumne }}</td>
        <td class="monospace">{{ a.username }}</td>
        <td class="monospace">{{ a.codi }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% if not forloop.last %}
<hr class="pgbr" />
{% endif %}
{% endfor %}
{% endblock content %}
